New Estimate Request
--------------------

Hi, there's a new estimate originated from the website. Up next is the client data.

* Name: <%= @estimate.name %>
* Email: <%= @estimate.email %>
* Address: <%= @estimate.address %>
* Phone: <%= @estimate.phone %>
* Company: <%= @estimate.company %>
* Location: <%= @estimate.location %>