h1 Please enter your information to proceed

= simple_form_for(@estimate) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :address
    = f.input :company
    = f.input :phone
    = f.input :location

  .form-actions
    = f.button :submit
