h1 Listing estimates

table
  tr
    th Name
    th Email
    th Address
    th Company
    th Phone
    th Location
    th
    th
    th

  - @estimates.each do |estimate|
    tr
      td = estimate.name
      td = estimate.email
      td = estimate.address
      td = estimate.company
      td = estimate.phone
      td = estimate.location
      td = link_to 'Show', estimate
      td = link_to 'Edit', edit_estimate_path(estimate)
      td = link_to 'Destroy', estimate, :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Estimate', new_estimate_path
