p#notice = notice

p
  strong Name:
  = @estimate.name
p
  strong Email:
  = @estimate.email
p
  strong Address:
  = @estimate.address
p
  strong Company:
  = @estimate.company
p
  strong Phone:
  = @estimate.phone
p
  strong Location:
  = @estimate.location

= link_to 'Edit', edit_estimate_path(@estimate)
'|
= link_to 'Back', estimates_path
