<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Bootstrap Commerce &#187; Products</title>
	<atom:link href="http://bootstrap-commerce.com.domainpreview.eu/shop/feed/" rel="self" type="application/rss+xml" />
	<link>http://bootstrap-commerce.com.domainpreview.eu</link>
	<description></description>
	<lastBuildDate>Mon, 15 Oct 2012 13:54:09 +0000</lastBuildDate>
	<language>en</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.2</generator>
		<item>
		<title>1up</title>
		<link>http://bootstrap-commerce.com.domainpreview.eu/shop/1up/</link>
		<comments>http://bootstrap-commerce.com.domainpreview.eu/shop/1up/#comments</comments>
		<pubDate>Sat, 20 Aug 2011 20:27:55 +0000</pubDate>
		<dc:creator>bootstrap-admin</dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woostore/files/?post_type=product&#038;p=824</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
			<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://bootstrap-commerce.com.domainpreview.eu/shop/1up/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Addicted to Woo</title>
		<link>http://bootstrap-commerce.com.domainpreview.eu/shop/addicted-to-woo/</link>
		<comments>http://bootstrap-commerce.com.domainpreview.eu/shop/addicted-to-woo/#comments</comments>
		<pubDate>Sat, 20 Aug 2011 20:46:08 +0000</pubDate>
		<dc:creator>bootstrap-admin</dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woostore/files/?post_type=product&#038;p=839</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
			<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://bootstrap-commerce.com.domainpreview.eu/shop/addicted-to-woo/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>All Systems Go</title>
		<link>http://bootstrap-commerce.com.domainpreview.eu/shop/all-systems-go/</link>
		<comments>http://bootstrap-commerce.com.domainpreview.eu/shop/all-systems-go/#comments</comments>
		<pubDate>Thu, 15 Sep 2011 21:09:51 +0000</pubDate>
		<dc:creator>bootstrap-admin</dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woostore/files/?post_type=product&#038;p=1084</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
			<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://bootstrap-commerce.com.domainpreview.eu/shop/all-systems-go/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Asteroids Rock</title>
		<link>http://bootstrap-commerce.com.domainpreview.eu/shop/asteroids-rock/</link>
		<comments>http://bootstrap-commerce.com.domainpreview.eu/shop/asteroids-rock/#comments</comments>
		<pubDate>Sat, 20 Aug 2011 20:20:10 +0000</pubDate>
		<dc:creator>bootstrap-admin</dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woostore/files/?post_type=product&#038;p=808</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
			<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://bootstrap-commerce.com.domainpreview.eu/shop/asteroids-rock/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Australia</title>
		<link>http://bootstrap-commerce.com.domainpreview.eu/shop/australia/</link>
		<comments>http://bootstrap-commerce.com.domainpreview.eu/shop/australia/#comments</comments>
		<pubDate>Thu, 15 Sep 2011 21:11:29 +0000</pubDate>
		<dc:creator>bootstrap-admin</dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woostore/files/?post_type=product&#038;p=1090</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
			<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://bootstrap-commerce.com.domainpreview.eu/shop/australia/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Barbie Fashion Show: An Eye for Style</title>
		<link>http://bootstrap-commerce.com.domainpreview.eu/shop/barbie-fashion-show-an-eye-for-style/</link>
		<comments>http://bootstrap-commerce.com.domainpreview.eu/shop/barbie-fashion-show-an-eye-for-style/#comments</comments>
		<pubDate>Thu, 18 Aug 2011 17:16:21 +0000</pubDate>
		<dc:creator>bootstrap-admin</dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woostore/files/?post_type=product&#038;p=735</guid>
		<description><![CDATA[Help Barbie put on a fabulous show that will “WOW” the fashion world!]]></description>
			<content:encoded><![CDATA[<p>Help Barbie put on a fabulous show that will “WOW” the fashion world!</p>
<p>With plenty creative and customisation options, the possibilities are virtually endless. Form concept to catwalk, you will design the outfits and accessories for your very own fashion line. Now you can put your personal mark on the fashion world!</p>
<p><strong>Barbie Fashion Show for Nintendo DS Features:</strong></p>
<ul>
<li>Thousands of Customisable Options -Design skirts, dresses, shoes, fabrics and more!</li>
<li>Choose the models, hair and accessories, music, poses, lighting, stages and more! 10 Glamorous Fashion Shows</li>
<li>Including 45 unique design challenges</li>
<li>10 Different Character Models &#8211; Design clothes to dress 10 different models (5 female, 5 male) while interacting with Barbie and Theresa.</li>
<li>Design Fashions for the Perfect Date &#8211; Create boy and girl fashions for dances, weddings and more!</li>
<li>Create your own Photo Shoot &#8211; Print and share them with your friends</li>
</ul>
]]></content:encoded>
			<wfw:commentRss>http://bootstrap-commerce.com.domainpreview.eu/shop/barbie-fashion-show-an-eye-for-style/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Berlin</title>
		<link>http://bootstrap-commerce.com.domainpreview.eu/shop/berlin/</link>
		<comments>http://bootstrap-commerce.com.domainpreview.eu/shop/berlin/#comments</comments>
		<pubDate>Thu, 15 Sep 2011 21:39:53 +0000</pubDate>
		<dc:creator>bootstrap-admin</dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woostore/files/?post_type=product&#038;p=1175</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
			<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://bootstrap-commerce.com.domainpreview.eu/shop/berlin/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Beyond the Moon</title>
		<link>http://bootstrap-commerce.com.domainpreview.eu/shop/beyond-the-moon/</link>
		<comments>http://bootstrap-commerce.com.domainpreview.eu/shop/beyond-the-moon/#comments</comments>
		<pubDate>Thu, 15 Sep 2011 21:12:46 +0000</pubDate>
		<dc:creator>bootstrap-admin</dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woostore/files/?post_type=product&#038;p=1100</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
			<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://bootstrap-commerce.com.domainpreview.eu/shop/beyond-the-moon/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Bloody Mary</title>
		<link>http://bootstrap-commerce.com.domainpreview.eu/shop/bloody-mary/</link>
		<comments>http://bootstrap-commerce.com.domainpreview.eu/shop/bloody-mary/#comments</comments>
		<pubDate>Thu, 15 Sep 2011 21:14:35 +0000</pubDate>
		<dc:creator>bootstrap-admin</dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woostore/files/?post_type=product&#038;p=1106</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
			<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://bootstrap-commerce.com.domainpreview.eu/shop/bloody-mary/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Days End</title>
		<link>http://bootstrap-commerce.com.domainpreview.eu/shop/days-end/</link>
		<comments>http://bootstrap-commerce.com.domainpreview.eu/shop/days-end/#comments</comments>
		<pubDate>Thu, 15 Sep 2011 21:18:25 +0000</pubDate>
		<dc:creator>bootstrap-admin</dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woostore/files/?post_type=product&#038;p=1116</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
			<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://bootstrap-commerce.com.domainpreview.eu/shop/days-end/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Don&#8217;t make me go Zelda on you</title>
		<link>http://bootstrap-commerce.com.domainpreview.eu/shop/dont-make-me-go-zelda-on-you/</link>
		<comments>http://bootstrap-commerce.com.domainpreview.eu/shop/dont-make-me-go-zelda-on-you/#comments</comments>
		<pubDate>Sat, 20 Aug 2011 20:23:41 +0000</pubDate>
		<dc:creator>bootstrap-admin</dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woostore/files/?post_type=product&#038;p=813</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
			<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://bootstrap-commerce.com.domainpreview.eu/shop/dont-make-me-go-zelda-on-you/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Donkey Kong</title>
		<link>http://bootstrap-commerce.com.domainpreview.eu/shop/donkey-kong/</link>
		<comments>http://bootstrap-commerce.com.domainpreview.eu/shop/donkey-kong/#comments</comments>
		<pubDate>Sat, 20 Aug 2011 20:26:04 +0000</pubDate>
		<dc:creator>bootstrap-admin</dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woostore/files/?post_type=product&#038;p=818</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
			<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://bootstrap-commerce.com.domainpreview.eu/shop/donkey-kong/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
