h3 Items in your cart

ul 
- @cart.line_items.each do |line_item|
  li = line_item.product.name

- if is_empty?(@cart)
  .p.text-info Your cart is currently empty
- else
  = button_to 'Ask for an estimate', new_estimate_path, method: :get
  = button_to 'Empty Cart', @cart, method: :delete, confirm: 'Are you sure?'