<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: Hello world!</title>
	<atom:link href="http://bootstrap-commerce.com.domainpreview.eu/2012/05/hello-world/feed/" rel="self" type="application/rss+xml" />
	<link>http://bootstrap-commerce.com.domainpreview.eu/2012/05/hello-world/</link>
	<description></description>
	<lastBuildDate>Sun, 16 Sep 2012 22:48:07 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.2</generator>
	<item>
		<title>By: Mr WordPress</title>
		<link>http://bootstrap-commerce.com.domainpreview.eu/2012/05/hello-world/#comment-1</link>
		<dc:creator>Mr WordPress</dc:creator>
		<pubDate>Mon, 14 May 2012 19:47:47 +0000</pubDate>
		<guid isPermaLink="false">http://bootstrap-commerce.com.domainpreview.eu/?p=1#comment-1</guid>
		<description>Hi, this is a comment.&lt;br /&gt;To delete a comment, just log in and view the post&#039;s comments. There you will have the option to edit or delete them.</description>
		<content:encoded><![CDATA[<p>Hi, this is a comment.<br />To delete a comment, just log in and view the post&#039;s comments. There you will have the option to edit or delete them.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
