= simple_form_for @product, html: {class: 'form-horizontal'} do |f|
  - if @product.errors.any?
    #error_explanation
      h2 = "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      ul
        - @product.errors.full_messages.each do |message|
          li = message

  = f.input :name
  = f.input :description
  = f.association :categories
  .actions = f.submit 'Save'
