p#notice = notice

p
  strong Name:
  = @product.name
p
  strong Description:
  = @product.description

.product-categories
  h6 Categories
  ul
  - @product.categories.each do |category|
    li = category.name
= link_to 'Edit', edit_product_path(@product)
'|
= link_to 'Back', products_path
