h1 Lista de productos

p#notice = notice

- @products.each do |product|
  = div_for product do
    = product.name
    = product.description
    = button_to 'Add To Cart', line_items_path(product_id: product.id)
