<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: Barbie Fashion Show: An Eye for Style</title>
	<atom:link href="http://bootstrap-commerce.com.domainpreview.eu/shop/barbie-fashion-show-an-eye-for-style/feed/" rel="self" type="application/rss+xml" />
	<link>http://bootstrap-commerce.com.domainpreview.eu/shop/barbie-fashion-show-an-eye-for-style/</link>
	<description></description>
	<lastBuildDate>Sun, 16 Sep 2012 22:48:07 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.2</generator>
</channel>
</rss>
