doctype html
html
	head
		meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
  	title = @page_title || 'IndSec'
  	= stylesheet_link_tag    "application", :media => "all"
  	= javascript_include_tag "application"
  	= csrf_meta_tags

body
	#wrap
		.container
			== yield
			#push
	#footer
		.container
			p class="muted credit" IndSec copyright and left	
